
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SRCTC - Student's eTicketing</title>
        <link rel="icon" href="CSS/favicon.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="CSS/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sono&display=swap" rel="stylesheet">
        </head>
<body style = "background-color: #EDE6DB !important;" >

    <div class = "" style="">
    <nav class="navbar navbar-expand-sm  navbar-update Navigation navbar-dark bg-dark" style="margin: auto;">
        <div class="">
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="search">Book-Ticket </a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="pnr_status">PNR-Status</a>
            </li>
    
            <li class="navbar-item">
                <a class="nav-link" href=""><span style="color: white; border-bottom: solid 0.5px">About</span></a>
            </li>
        </ul>
    </div>
    </nav>
    </div>
  
  <div class="">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class=""><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Indian Railway</h2>
          <p class="font-italic text-muted mb-4">Indian Railways (IR) is a statutory body under the ownership of Ministry of Railways, Government of India that operates India's national railway system.[7] It manages the fourth largest national railway system in the world by size, with a total route length of 68,103 km (42,317 mi) as of 31 March 2022. 52,247 km (32,465 mi) or 83% of all the broad-gauge routes are electrified with 25 kV 50 Hz AC electric traction as of 1 April 2022.[5][4]

            In 2020, Indian Railways carried 808.6 crore (8.086 billion) passengers and in 2022, Railways transported 1418.1 million tonnes of freight.[8][4] It runs 13,169 passenger trains daily, on both long-distance and suburban routes, covering 7,325 stations across India.[4] Mail or Express trains, the most common types of trains, run at an average speed of 50.6 km/h (31.4 mph). Suburban EMUs run at an average speed of 37.5 km/h (23.3 mph). Ordinary passenger trains (incl. mixed) run at an average speed of 33.5 km/h (20.8 mph).[4] The maximum speed of passenger trains varies, with the Vande Bharat Express running at a peak speed of 180 km/h (110 mph).
            
            In the freight segment, IR runs 8,479 trains daily.[4] The average speed of freight trains is around 42.2 km/h (26.2 mph). The maximum speed of freight trains varies from 60–75 km/h (37–47 mph) depending on their axle load with 'container special' trains running at a peak speed of 100 km/h (62 mph).
            
            As of March 2020, Indian Railways' rolling stock consisted of 2,93,077 freight wagons, 76,608 passenger coaches and 12,729 locomotives.[4] IR owns locomotive and coach-production facilities at several locations in India. It had 1.254 million employees as of March 2020, making it the world's eighth-largest employer.[4] The government has committed to electrifying India's entire rail network by 2023–24, and become a "net zero (carbon emissions) railway" by 2030.</p><a href="https://en.wikipedia.org/wiki/Indian_Railways" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light">Our team</h2>
          <p class="font-italic text-muted">Introducing our team for the project.</p>
        </div>
      </div>
  
      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Jitesh Kumar Singh</h5><span class="small text-uppercase text-muted">Full Stack Dev.</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Ankit Raj</h5><span class="small text-uppercase text-muted">Front-end Dev</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Mamatva Jain</h5><span class="small text-uppercase text-muted">DataBase Engineer</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Md. Salim</h5><span class="small text-uppercase text-muted">Manager</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
      </div>
    </div>
  </div>
  
  
  <footer class="bg-light pb-5">
    <div class="container text-center">
      <p class="font-italic text-muted mb-0">Mam Number de dijiye gaa please.</p>
    </div>
  </footer>
  </body>
  </html>